@import "./utils/variables";
@import "./base/normalize";
@import "./base/container";
@import"./utils/visually-hidden";

@import "./components/page-header";

 @import "./components/hero";

@import "./components/features";

@import "./components/_work";

@import "./components/team";

@import "./components/clients";

// @import "./components/_footer";

@import "./components/projects";

// @import "./components/modal";
