.features {
    padding-top: 60px;
    @media screen and (min-width:$desktop) { 
    padding-top: 94px;
    }
        @media screen and (max-width:1199px) {
            padding-bottom: 60px;
        }
}

.features__list {
    display: block;
    margin: -15px;
    @media screen and(min-width:$tablet){
      display: flex;
      flex-wrap: wrap;  
      
    }

}

.features__items {
    width: calc((100% - 1 * 30px)/1);
        margin: 15px;
     &::before{
        display: block;
        content: '';
        background-color: #f5f4fa;
        height: 120px;
        margin-bottom: 30px;
        
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;}
&:not(:last-child){
    @media screen and (max-width:$mobile) {
        margin-bottom: 30px;
    }
}      
@media screen and (min-width:$tablet) {  
    width: calc((100% - 2 * 30px)/2);
    

}
 @media screen and(min-width:$desktop) {
 width:calc((100% - 4 * 30px)/4);

}}

.icon-antenna::before {background-image: url(../images/antenna.svg);}

.icon-clock::before {background-image: url(../images/clock.svg);}

.icon-diagram::before {background-image: url(../images/diagram.svg);}

.icon-astronaut::before {background-image: url(../images/astronaut.svg);}

.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    text-transform: uppercase;
    color: $titleColor;
    margin-top: 0px;
    margin-bottom: 10px;
    @media screen and (max-width:767px) {
        text-align: center;
    }
}
.features__description{
    font-size: 14px;
    line-height: 1.71;
}
