.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    transition: transform color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
}
.close-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{
        background-color: $accentColor;
        fill: $whiteColor;
    }
}

.modal-container {padding: 40px;}

.modal-title {font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 12px;}

.form {
    width: 448px;
}



.form-field {position: relative;


border-radius: 4px;
margin-bottom: 10px;
&:last-of-type {
    margin-bottom: 20px;}
}

.form-label {
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing: 0.01em;
    
    color: #757575;
}

.form-input {
    display: block;
    margin: 0;
    padding: 0;
    padding-left: 42px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    width: 448px;
    height: 40px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 12px;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .form-input:focus~&{
        fill:$accentColor;
    }
}

.form-textarea:focus,
.form-input:focus {
    border-color: $accentColor;
    fill:$accentColor;

}



.comment-label {
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.form-textarea {
    height: 120px;
    width: 448px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    resize: none;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    user-select: none;
    line-height: 1.71;
    cursor: pointer;
    color:var(--primary-text-color);
}

.checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox__icon {
    display: flex;
    align-items: center;
    
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 8px;
    border-radius: 2px;
    background-color: transparent;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
    fill: transparent;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.checkbox:checked~.checkbox__icon {
    background-color: $accentColor;
    border-color: $accentColor;
    fill: $whiteColor;
}
.checkbox:focus~.checkbox__icon,
.checkbox:hover~.checkbox__icon {
    border-color:$accentColor;
}
.checkbox__link {
    text-decoration: underline;
    color:$accentColor;
}

.modal__button {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 55px;
    border-radius: 4px;
    letter-spacing: 0.06em;
    background-color:$accentColor;
    color:$whiteColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}