body {
    font-family: 'Roboto', sans-serif;
    color: $primaryColor;
    letter-spacing: 0.03em;

}
.page-header {
   
    display: flex;
    align-items: center;
    width: 100%;
        border-bottom: 1px solid #ececec;
}
.burger__button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    @media screen and (min-width:$tablet) {
            display: none;
        }
}


.burger__button .burger__close{
    display: none;
}
.burger__button.is-open .burger__close{
    display: block;
}
.burger__button.is-open .burger__open{
    display: none;
}
.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.meny-burger {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    
    background-color: $whiteColor;
    &.is-open{
        display: block;
        
@media screen and (max-width:767px) {
        padding: 48px 40px;
    }
    @media screen and (min-width:$tablet) {
        position: relative;
        display: flex;
    }
    }
}
.page-header__nav {}

.nav {}

.logo {
    font-family: Raleway;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: $titleColor;
        span{
            color: $accentColor;
        }
@media screen and (min-width:$desktop) {
    font-size: 26px;
        line-height: 1.19;
}
}

.nav__list {}

.nav__item {
    &:not(:last-child){
        @media screen and (max-width:767px) {
            margin-bottom: 32px;
            
        }
        }
    }
    

.nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.02em;

    color:$titleColor;
&:hover,&:focus{
    color: $accentColor
}
@media screen and (min-width:$tablet) {
    display: flex;
}
}

.nav__link--current {
    color: $accentColor;
}

.auth-nav__list {
    display: flex;
    flex-direction: column-reverse;
}

.auth-nav__item {
    &:not(:first-child) {
            @media screen and (max-width:767px) {
                margin-bottom: 32px;
    
            }
        }
}

.auth-nav__link {
  
    font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    
        color: $primaryColor;
        &--current{
            font-weight: 500;
                font-size: 34px;
                line-height: 1.17;
                letter-spacing: 0.02em;
            
                color: #2196F3;
        }
}


.auth-nav__icon {}
.meny-burger__list {
    display: flex;
    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.meny-burger__item {
    &:not(:last-child){
       border-right: 1px solid rgba(33, 33, 33, 0.2);;
    }
}

.meny-burger__link {
    font-weight: 500;
    padding: 10px;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
    
        color: $accentColor;
}